@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #00000000;
    min-height: 200vh;
}
header {
  position: sticky; /* Change position to sticky */
  top: 0;
  left: 0;
  width: 100%;
  display: flex; /* Use flexbox for layout */
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
}



header .container{
  display: inline-block;
}


  header.sticky
  {
    padding: 5px 100px;
    background-color: rgba(255, 255, 255, 0.378);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  header .logo
  {
    white-space: nowrap;
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
  }
  header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
  }
  
  header ul li{
    position: relative;
    list-style: none;
  }
  header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s; /* letter transition to white from black */
  }
  
  .banner{
    position: relative;
    width: 100%;
    height: 35vh; /*how close the content bellow*/
    background-size: cover;
    }

    header.sticky .logo,
    header.sticky ul li a
    {
      color: #000000; /* Change to the desired color */
    }
  
    header.sticky .container .bar1,
    header.sticky .container .bar2,
    header.sticky .container .bar3 {
        background-color: #000000; /* Change to the desired color */
    }
    

li:hover, li.active {
  transform: scale(1.1);
  transition: transform 0.3s, text-shadow 0.1s;
  text-shadow: 0 0 3px #ff47e062, 0 0 5px rgba(255, 0, 212, 0.431);
}

.sidebar{
  position: fixed;
  top: 24%;
  left: 40%;
  transform: translate(-50%, -50%);
  height: 35vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.129);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 25px;
  animation-name: slide-down;
  animation: slide-down 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

header.sticky .sidebar{
  display: none;
} 

.sidebar li{
  width: 100%;
  padding: 12px;
  text-align: center;
}

.sidebar a{
  width: 100%;
}

/* hamburger animation*/
.container {
  display: none;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  border-radius: 25px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.6s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);

}

/* Fade out the second bar */
.change .bar2 {opacity: 0;}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

@media only screen and (max-width: 768px) {
  header{
      flex-direction: column; 
      padding: 20px 40px; 
  }
}
@media only screen and (max-width: 600px) {
  li.hideonmobile{
      display: none;
  }
}
@media only screen and (max-width: 600px) {
  header .container{
      display: inline-block;
  }
}
